<html lang="en" ng-app="blogWebsite">
    <head>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular-route.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular-resource.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/lib/angular-cookies.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/services.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/app.css">
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css">

        <script type="text/javascript" src="{{ STATIC_URL }}bower_components/tinymce/tinymce.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}bower_components/angular-ui-tinymce/src/tinymce.js"></script>
    </head>
    <body>
        <ul>
		        <li><a href="#/users/">Users</a></li>
                <li><a href="#/articles/">Articles</a></li>
                <li><a href="#/article/post/">Post New Article</a></li>
        </ul>

        <ul>
            {% if user.is_anonymous %}
            <a href="{% url 'socialauth_begin' 'google-oauth2' %}">Login with Google</a>
            {% else %}
            <li>Welcome, {{ user }} </li>
            <li><a href="{% url 'log_out' %}">Log out</a></li>
            {% endif %}
        </ul>

        <div ng-view></div>
    </body>
</html>