<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            Search: <input ng-model="query">
        </div>

        <div class="span10">
            <ul class="phones">
                <li ng-repeat="article in articles| filter:query" class="thumbnail">
                    <a href="#/article/{{{ article.id }}}">{{{ article.title }}}</a>
                    <p>
                        {{{ article.content  }}}
                    </p>
                    Posted By: <a href="#/user/{{{article.user_id}}}"> {{{ article.user }}} </a> on {{{ article.creation_date }}}
                    Tags:
                     <div ng-repeat="tag in article.tag_details">
                        {{{ tag.word }}}
                     </div>
                </li>
            </ul>
        </div>
    </div>
</div>