<form>
    {{{error.title.0}}}
    <input type="text" ng-model="title" placeholder="Title">
    {{{error.content.0}}}

    <textarea ui-tinymce ng-model="content"></textarea>

    <input type="text" ng-model="tags" placeholder="Tag" typeahead="tag for tag in getTag($viewValue) | filter:$viewValue">

    <div ng-show="user.username">
    <button ng-click="save()">Add Post</button>
    </div>
    <div ng-hide="user.username">
        Login to Post Article
    </div>

    <br>
    {{{article}}}


</form>