<h2>{{{ article.title }}}</h2>

<p>
{{{ article.content }}}
</p>


comments:
<li ng-repeat="comment in comments">
    {{{cooment_deletion_error}}}
    {{{comment.content}}} by
    {{{comment.user}}}
    <button ng-click="deleteComment(comment)">Delete</button>
</li>
<li>
{{{comment.content}}} by
{{{comment.user}}}
</li>
Comment Post form
<form>
    {{{error.content.0}}}
    <input type="text" ng-model="content" placeholder="comment">
    <button ng-click="addComment()">Add Comment</button>
    <br>
</form>